*.class
*.bak*
*.orig*

# Package Files #
*.jar
*.war
*.ear

# Maven build workspace #
target/
*.releaseBackup
release.properties

# NIT generated configs, if running from workspace root
tmp/

/.idea/
